/* Estilos para el contenedor del formulario */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 40px; /* Aumenté el relleno para dar más espacio */
  border: 2px solid #000000;
  border-radius: 7px;
  box-sizing: border-box; /* Incluye el borde y el relleno en el tamaño total */
  opacity: 0.9; /* Ajusta este valor según la opacidad deseada */
  background-color: rgba(248, 248, 248, 0.9); /* Ajusta el valor de 0.9 según la opacidad deseada */
}

/* Estilo para el texto dentro del formulario */
.form-container h2 {
  color: black; /* Cambia el color del texto a negro */
}
.form-container h1 {
  color: black; /* Cambia el color del texto a negro */
}
/* Estilo adicional para las etiquetas de los elementos de entrada */
.form-container label {
  color: black; /* Cambia el color del texto de las etiquetas a negro */
}

/* Estilo adicional para los elementos de entrada */
.form-container input {
  width: 120%;
  padding: 1px;
  margin-bottom: 1px;
  box-sizing: border-box; /* Incluye el borde y el relleno en el tamaño total */
  color: #474747;
}
/* Reservas.css */

/* Ajusta el margen inferior entre los elementos */
.form-container label {
  margin-bottom: 2px;
}

.form-container textarea {
  margin-bottom: 2px; /* Puedes ajustar el valor según tus preferencias */
}
.form-container input {
  margin-bottom: 2px;
}

/* Ajusta el margen y el relleno de los elementos de la casilla según tus preferencias */
.form-container label {
  margin-bottom: -1rem;
}

/* Establece un margen inferior menor para los elementos de entrada */

.form-container textarea {
  margin-bottom: 1rem;
}
.form-container input {
  margin-bottom: 1rem;
}

/* Ajusta el margen y el relleno del botón según tus preferencias */
.form-container button {
  margin-top: 0.2px;
  padding: 1px; /* Puedes ajustar esto según sea necesario */
}

/* Estilos adicionales según sea necesario */


header {
  background-size: cover;
  background-position: center;
}

.reserva-page header h1 {
  text-shadow: 1.5px 1.5px 3px #ffffff;

}

@media only screen and (max-width: 768px) {
  header h1 {
      font-size:4rem;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
      font-size: 4rem;
  }
}